<div>
    <mat-card class="content-padding">
      <mat-card-content>
        <div fxFlex="20" fxFlex.sm="20" fxLayoutAlign="center" >
           <app-product-image [product]="product"></app-product-image>
        </div>
        <div fxFlex="60">
           <div>{{product.name}}</div>
           <div>SKU #{{product.sku}}</div>
           <app-product-department [product]="product"></app-product-department>
        </div>
        <div fxFlex="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" fxLayoutAlign="center">
           <app-price-display price="{{product.price}}"></app-price-display>
        </div>
      </mat-card-content>
    </mat-card>
</div>
